.mainBody {
display: grid;
grid-template-columns: 1fr 1fr 1fr;
grid-template-rows: auto auto 1fr 1fr 1fr auto auto;
grid-template-areas: "Title Title Title"
"Choosing Picture_info Ingredients"
"Choosing Picture_info Ingredients"
"Choosing  Picture_info  Ingredients"
"Teach_Me Teach_Me Teach_Me";
grid-gap: 5px;
margin: auto;
height: 98vh;
width: 90vw;
background: lightgray;
user-select: none;
}


.Title {
    grid-area: Title;
    align-self: center;
    justify-self: center;
    vertical-align: middle;
    font-family: Georgia;
    color: brown;
    font-size: 35px;
    user-select: none;
    padding-top:  20px;

}

.Choosing {
    grid-area: Choosing;
    height: fit-content;
    width: 40%;
    background: yellowgreen;
    color: aliceblue;
    font-style: oblique;
    font-size: 29px;
    justify-self: center;
    font-weight: bold;
    user-select: none;
    border-style: dashed;
    padding-left: 30px;
    

    
}

#Recipes {
  margin-left: 40px;
}

.Picture_info {
  grid-area: Picture_info;
  height: 70%;
  width: 100%;
  border-radius: 50px;
  padding-top: 50px;
  object-fit: cover;

}


.Picture_info img {
  width: 80%;
  height: 100%;



}

.Scrolling1 {
    grid-area: Scrolling1;
    width: 200px;
    padding-top: 40px;

}Choosing
  .Scrolling1 li {
    background-color: #eee;
    color: black;
    display: block;
    padding: 12px;
    text-decoration: none;
  }
  

 

.Ingredients{
    grid-area: Ingredients;
    height:100%;
    width: 50%;
    color: aliceblue;
    background-color: blueviolet;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    border-style:dashed;
    font-family: 'Dekko';
    display: block;
 overflow: auto;
}

#ingredient {
  text-align: start;
  font-family: 'Dekko';
  height: fit-content;


}


.Teach_Me {
    grid-area: Teach_Me;
    justify-self: center;
    padding-right:100px;
 
}

button{
  border: none;
  background: red;
  color: #ffffff !important;
  font-weight: 100;
  padding: 20px;
  text-transform: uppercase;
  border-radius: 6px;
  display: inline-block;
  transition: all 0.3s ease 0s;
  }

  button:hover {
    color: #404040 !important;
    font-weight: 700 !important;
    letter-spacing: 3px;
    background: none;
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    transition: all 0.3s ease 0s;
    }
    
    select {
      width: 140px;
      height: 35px;
      padding: 4px;

      border-radius:4px;
      box-shadow: 2px 2px 8px #999;
      background: #eee;
      border: none;
      outline: none;
      display: inline-block;
      -webkit-appearance:none;
      -moz-appearance: none;
      appearance: none;
      cursor: pointer;
      }
      label {
      position: relative;
      }
      label:after {
      content:'<>';
      font: 11px "Consolas", monospace;
      color: #666;
      -webkit-transform: rotate(90deg);
      -moz-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      transform: rotate(90deg);
      right: 8px; 
      top:2px;
      padding: 0 0 2px;
      border-bottom: 1px solid #ddd;
      position: absolute;
      pointer-events: none;
      }
      label:before {
      content: '';
      right: 6px; 
      top:0px;
      width: 20px; 
      height: 20px;
      background: #eee;
      position: absolute;
      pointer-events: none;
      display: block;
      }